name: ruckup
version: "0.0.2"
author: Richard P. <rap1011@ksu.edu>
about: Stupid backup system. Very much broken currently. Use at your own risk
args:
    - temporary_storage:
        short: t
        long: temp_store
        value_name: FILEPATH
        help: Sets the temporary file storage location
        takes_value: true
    - src_loc:
        short: s
        long: src_loc
        value_name: FILEPATH
        help: Adds a new location to be backed up
        takes_value: true
    - encrypt:
        short: e
        help: Runs a backup
    - recover_all:
        long: recover_all
        help: "Recovers all files to their original location WARNING: This replaces all existing files"
    - recover_to:
        short: r
        long: recover_to
        value_name: FILEPATH
        help: Recovers all files to the specified destination.
        takes_value: true
    - no_recover_meta:
        long: no-meta
        help: "Skips recovering of the meta_data table. WARNING: All encrypted data will be lost."