name: ruckup
version: "0.0.5"
author: Richard P. <rap1011@ksu.edu>
about: Stupid backup system. Very much broken currently. Use at your own risk
args:
    - temporary_storage:
        short: t
        long: temp_store
        value_name: FILEPATH
        help: Sets the temporary file storage location
        takes_value: true
    - src_loc:
        short: b
        long: backup_location
        value_name: FILEPATH
        help: Adds a new location to be backed up
        takes_value: true
    - encrypt:
        short: e
        long: encrypt
        help: Runs a backup
        conflicts_with: scan
    - recover_all:
        long: recover_all
        help: "Recovers all files to their original location"
    - overwrite:
        short: o
        long: overwrite
        help: "Recovers files to the original location, overwriting any existing files"
        conflicts_with: recover_to
    - recover_to:
        short: r
        long: recover_to
        value_name: FILEPATH
        help: Recovers all files to the specified destination.
        takes_value: true
        conflicts_with: overwrite
    - no_recover_meta:
        long: no-meta
        help: "Skips recovering of the meta_data table. WARNING: All encrypted data will be lost."
    - scan:
        short: s
        long: scan
        help: Scans for files that need to be backe dup
        conflicts_with: encrypt
    - remove:
        short: d
        long: remove
        help: "Deletes directory from backup locations. WARNING: This is recursive and will remove all subdirectories."
        conflicts_with: src_loc
        value_name: FILEPATH
        takes_value: true
    - files:
        short: f
        long: files
        help: "Returns a list of all files that belong to a given path"
        value_name: FOLDERPATH
        takes_value: true
    - one_file:
        short: l
        long: one_file
        help: Recovers a specific file version
        value_name: FILE_NUM
        takes_value: true